@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');


.dashboard-container {
  display: flex;
  min-height: 100vh;
  font-family: "Nunito Sans", sans-serif;
  background: linear-gradient(135deg, #f0f4ff, #e8faff);
}

.sidebar {
  background: linear-gradient(180deg, #a26c06, #e5b949);
  color: #fff;
  padding: 20px;
  width: 185px;
  transition: all 0.3s ease;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
}

.sidebar.collapsed {
  width: 70px;
  text-align: center;
}


.toggle-btn {
  background: #ffffff33;
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
  transition: background 0.3s;
  width: 100%;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.toggle-btn:hover {
  background: #ffffff55;
}


.sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.sidebar ul li {
  margin: 15px 0;
  padding: 10px 15px;
  border-radius: 6px;
  transition: background 0.3s, transform 0.2s;
  cursor: pointer;
}

.sidebar ul li:hover {
  background: #ffffff33;
  transform: translateX(-5px);
}


.main-content {
  flex-grow: 1;
  padding: 30px;
  transition: margin-right 0.3s ease;
}

.main-content.with-sidebar {
  margin-right: 220px;
}

.main-content.collapsed-sidebar {
  margin-right: 70px; 
}
